MONGO_URI=mongodb+srv://USER:PASSWORD@cluster0.r9ehqv7.mongodb.net/?appName=Cluster0
MONGO_DB_NAME=DATABASE
API_PORT=PORT
FRONTEND_ORIGIN=http://HOST:PORT
API_URL=http://HOST:PORT/api
NEXT_PUBLIC_API_URL=http://HOST:PORT/api