MONGO_URI=mongodb+srv://app:Njs5GskFAcpuuwmU@cluster0.r9ehqv7.mongodb.net/?appName=Cluster0
MONGO_DB_NAME=ecommerce_shop
API_PORT=3001
FRONTEND_ORIGIN=http://localhost:3000
API_URL=http://localhost:3001/api
NEXT_PUBLIC_API_URL=http://localhost:3001/api


